<h1>All Comments</h1>
<Br>

<ul>
<% @comments.all.newest_first.each do |comment| %>
  <li><%= link_to comment.title, comment_path(comment)%> - <%= link_to comment.activity.name, "/activities/#{comment.activity_id}"%> <%=comment.created_at%></li>
  <br><br>
<%end%>
</ul>
