<h1>Comments Index</h1>
<Br>

<ul>
<% @comments.each do |comment| %>
  <li><%= link_to comment.comment, comment_path(comment)%> - <%= link_to comment.activity.name, "/activities/#{comment.activity_id}"%></li>
  <br><br>
<%end%>
