<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.name, admin_category_path(category) %><br>
  </li>
<%end%>
</ul>

<h3><%= link_to "Create New Category", new_admin_category_path %></h3>
