<h1>Edit Activity</h1>

<%= render partial: "layouts/errors", locals: {object: @activity} %>

<%= render 'form', activity: @activity %>
<br>
<%=button_to "Delete", activity_path(@activity), method: :delete%>
