<ul>
  <%@categories.each do |category| %>
    <%=category.name%><br>
    <%category.activities.each do |activity| %>
      <li><%=link_to activity.name, activity_path(activity)%></li><br><br>
      <%end%>
  <%end%><br>

    <%@activities.each do |activity| %>
    <li><%=link_to activity.name, activity_path(activity)%></li>
  <%end%>
</ul>
